.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-discription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-second-color);
}
.portfolio-shadow {
  outline: none;
  display: block;
  &:hover .overley,
  &:focus .overley {
    transform: translateY(0%);
  }
}

.content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio-list-link {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.overlay-content {
  position: relative;
  overflow: hidden;
}
.overley {
  position: absolute;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
