.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &:focus + .modal-form-icon {
    fill: var(--accent-color);
  }
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 16px;
}
.modal-form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: #d3d3d3;
  margin-bottom: 6px;
}
.modal-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-close-btn:hover .icon-btn {
  fill: var(--accent-color);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal-form-term {
  opacity: 0;
  &:checked + .modal-form-check-desk::before {
    background-image: url(../img/checkbox.svg);
    background-position: center;
    background-size: contain;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}
.modal-form-check-desk {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 7px;
  }
}
.contract {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.modal-form-btn {
  align-self: center;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border-color: var(--accent-color);
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
